body{
  --twitter-color:#1aa0f4;
  --twitter-background:#e6ecf0;
}

body{
  background-color: black;
}

.app{
  height: 100vh;
  display: flex;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px;
}