.widgets__twitterTimelineEmbed{
    background-color : '#000';
    color: #fff;
    margin-bottom: 10px;
}

.widgets{
    flex: 0.3;
}

.widgets__input{
    display: flex;
    align-items: center;
    background-color: rgb(39, 39, 41);
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    color: #414040;
    border: none;
    margin-bottom: 25px;
    width: 300px;

}

.widgets__input>input{
    background-color: rgb(39, 39, 41);
    color: white;
    border: none;
}

.widgets__sub{
    color: white;
    background-color: rgb(39, 39, 41);
    border-radius:20px;
    margin-left: 20px;
    padding: 0px 6px;
    padding-left: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    margin-right: auto;
}

.widgets__subButton{
    background-color: var(--twitter-color) !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin: 5px !important;
    max-width: 150px;
}

.widgets__widgetContainer{
    color: white;
    padding: 10px 10px;
    width: 300px;
    background-color: rgb(39, 39, 41);
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 15px;
}

.widgets__twitterShare{
    margin: 10px 10px;
}